body{
     font-family: "Istok Web";
}
.loginbutton{
    background: #CC2119;
    border-radius: 9px;
}
.loginbutton:hover{
    background: #F6CD13;
    border-radius: 9px;
}
.custom-ads , marquee{
    background-color: #F6CD13;
    padding-top: 3px ;
}
.custom-per{
    color: #CC2119;
    font-weight: bold;
}
.custom-ads-1{
    background: url(image_1_food.jpg), #CC2119;
    height: 500px;
}