body{
     font-family: "Istok Web";
}
.loginbutton{
    background: #CC2119;
    border-radius: 9px;
}
.loginbutton:hover{
    background: #F6CD13;
    border-radius: 9px;
}
.custom-ads , marquee{
    background-color: #F6CD13;
    padding-top: 3px ;
}
.custom-per{
    color: #CC2119;
    font-weight: bold;
}
.custom-ads-1{
    background: linear-gradient(rgba(204, 33, 25, 0.5), rgba(204, 33, 25, 0.5)), url(../assets/img/products.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    border-radius: 20px;
}
.custom-ads-1 h4{
    font-size: 48px;
}
.dha{
    color: black;
}
.dha:hover{
    color: #CC2119;
}
.cart-btn:hover{
    background: #CC2119;
    padding: 0.5rem;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socmed:hover{
    color: #CC2119;
}
.cartss{
    background-color: #F6CD13;
}
thead{
    background-color: #CC2119;
}
.cart-items{
    background-color: #F6CD13;
}
#voucher-btn:hover{
    background-color: #CC2119;
}
#checkout-btn:hover{
    background-color: #CC2119;
}

